h1 {color: deeppink; font-family: "Barrio", system-ui;text-align: center;}

h2{color: deeppink; font-family: "Barrio", system-ui}

h3{color: deeppink; font-family: "Barrio", system-ui}
p{font-family:'Times New Roman', Times, serif ;}

img {
	width: 300px;
	border-radius: 5% 5% 5% 5%;
    box-shadow: rgb(19, 30, 42) 0px 20px 30px -10px;
} 

a{color:rgb(196, 88, 147)}
a:hover{color:rgb(226, 23, 241)}