h1 {
	color: deeppink;
	font-family: "Barrio", system-ui;text-align: center;
	font-size: 65px;
	padding: 10px 5px 10px 5px;
}

h2{
	color: deeppink;
	font-family: "Barrio", system-ui;
	font-size: 40px;
}

h3{
	color: deeppink;
	font-family: "Barrio", system-ui;
	font-size: 25px;
}
p{
	color: white;
	font-family: "Merriweather", serif ;
	margin-bottom: 30px;
}
ul{
	color: white;
	list-style-type:circle;
	font-family: "Merriweather", serif;
}
img {
	max-width: 250px;
	max-height: 250x;
	border-style: dashed;
	border-color: deeppink;
	border-radius: 5% 5%;
    box-shadow: rgb(19, 30, 42) 0px 20px 30px -10px;
	margin: 10px 10px 10px 5px;
	padding: 5px 5px;
} 


a{
	color:deeppink;
	font-size: 17px;
}
a:hover{
	color:rgb(196, 88, 147)
}

body {
    background-color: deeppink;
}


.container {
    background-color: rgb(0, 0, 0);
    max-width: 900px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35)
                     0px 5px 15px;
    margin: 100px auto 100px auto;
    padding: 5px 30px;
}
.text-container {
  text-align: justify;
}

.zakladni-informace {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: normal;
	justify-content:space-between;

}

.seznam-skladeb {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: normal;
	justify-content:space-between;

}

.nadchazejici-tvorba {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: normal;
	justify-content:space-between;
}

table {
	color: white;
	margin: auto auto 25px 5px;
	border-color: white;
	

}

.container2{

}
#navbar {
    color: white;
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}
#navbar a {
    color: white;
    text-decoration: none;
}
#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}
#navbar ul li a {
    padding: 10px;
    margin: 0 4px;
}
#navbar ul li a:hover {
    background-color: deeppink;
    border-radius: 5px;
}